<% title "Salesmen" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% for salesman in @salesmen %>
      <tr>
        <td><%= link_to salesman.full_name, salesman %></td>
        <td><%= salesman.email %></td>
        <td><%= salesman.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

